# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/
.antigravity/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit local secrets
.streamlit/secrets.toml

# Temporary Excel lock files
~$*.xlsx
